body{
  background:#0b1220;
  color:#fff;
  font-family:Arial;
  padding:20px;
}
header{
  text-align:center;
  margin-bottom:20px;
}
h1{color:#00eaff;}
.box{
  background:#111a2e;
  padding:15px;
  border-radius:12px;
}
ul li{
  list-style:none;
  padding:8px 0;
  border-bottom:1px solid #1f2a44;
}
footer{
  text-align:center;
  margin-top:30px;
  opacity:.6;
}